@model List<Danmaku.Model.DanmakuDataBase>

<h2>列表</h2>

<table border="1" cellspacing="0" cellpadding="5">
    <thead>
    <tr>
        <td>VID</td>
        <td>数据</td>
        <td>时间</td>
        <td>IP</td>
        <td>网址</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var l in Model)
    {
        <tr id=@l.Id>
            <td>@l.Vid</td>
            <td>@l.DanmakuData.Text</td>
            <td>@l.Date.ToString("yyyy-MM-dd hh:mm:ss")</td>
            <td>@l.Ip</td>
            <td>@l.Referer</td>
            <td><a href="">修改</a> <a href="">删除</a></td>
        </tr>
    }
    </tbody>
</table>

<form asp-controller="DanmakuList" asp-action="Index" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-2 control-label">Vid</label>
        <div class="col-md-10">
            <input type="text" name="vid" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">筛选</button>
        </div>
    </div>
</form>


<a href="">清除筛选</a>